.askQuestion-container {
  /* width: 1376px; */
  height: 566px;
  margin: 2rem 1.4rem;
  margin-bottom: 2.4rem;
  gap: 0px;
  border-radius: 2rem;
  background: #e8eee7;
  display: flex;
  font-family: Manrope;
  position: relative;
}
.left-side {
  width: 44%;
  position: relative;
  height: 480px;
}
.top-left {
  font-family: Covered By Your Grace;
  font-size: 26px;
  font-weight: 500;
  line-height: 35.2px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #9e9d9d;
  padding: 2rem 7rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.heading-left {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: left;
  color: #1c1c1c;
  margin: 0 7rem;
}
.right-side {
  width: 56%;
  margin: 4rem;
  margin-bottom: 3rem;
  margin-right: 5rem;
}
.question {
  display: flex;
  justify-content: space-between;
}
.question p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  width: 40rem;
}
.question i {
  padding-top: 1.2rem;
  font-size: 14px;
  padding-right: 4px;
}
.question .answer {
  font-size: 14px;
  color: #617275;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-top: 6px;
}
.ques-ans {
  display: flex;
  gap: 2.9rem;
}
.ques-ans i {
  font-size: 14px;
}
hr {
  color: #d7d7d7;
  opacity: 0.5;
  margin-top: 4px;
  margin-bottom: 1.2rem;
}

