footer {
  height: 5rem;
  gap: 0px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  opacity: 0px;
  background: #f5f5f5;
  margin: 0 1.4rem;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  margin-bottom: 1.8rem;
}
.left-footer {
  display: flex;
  margin: auto 3rem;
  font-family: Manrope;
}
.left-footer i {
  font-size: 16px;
  margin-right: 0.5rem;
  margin-top: 0.9rem;
}
.right-footer {
  display: flex;
  margin: auto 3rem;
  display: flex;
  gap: 2rem;
  font-family: Manrope;
}
.right-footer p,
a {
  color: #2d2c2c;
}
